<div class="portfolio">
  <app-start title="portfolio component" customLineBgColor="bg-s"></app-start>
  <div class="container">
    <div class="row g-4">
      <div class="col-md-4" *ngFor="let img of imagesUrl">
        <div class="rounded-3 overflow-hidden position-relative">
          <img #imgg class="w-100" src="{{ img }}" />
          <!-- (click)="SrcImag($event)" -->
          <div
            (click)="SrcImag(imgg)"
            class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
          >
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="model__ position-fixed start-0 top-0 w-100 h-100 bg-danger bg-opacity-50 d-flex justify-content-center align-items-center"
  (click)="hideLayer($event, image)"
  hideLayer
  *ngIf="isLayerVisible"
>
  <img #image [src]="selectedImage" alt="" />
</div>
